.categor__item_btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  border: none;
  background: transparent;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
  margin-right: 32px;
}

.categor__item-act {
  color: #ea7c69;
  border-bottom: 1px solid #ea7c69;
}
