@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #b6b6b6;
  padding: 20px 0;
  font-family: "Barlow", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  background: #1f1d2b;
  box-shadow: 0 2px 30px 2px #1f1d2b;
  border-radius: 16px;
}
